body{
	max-width: 100%;
    overflow-x: hidden;
	font-family: Palatino;
	color: #e5e5e5;
	background-color: rgb(40,40,40) 
}
p{
	margin: 20px;
}
header{
	font-family: Georgia;
}
h1,h2,h3{
	font-family: Georgia;
	color: #e5e5e5;
	background-color: rgb(100,100,100);
	padding: 10px;
}
img {
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}
a:link {
	text-decoration: none;
    color: rgb(158, 255, 191);
}

a:visited {
	text-decoration: none;
    color: rgb(158, 255, 191);
}

a:hover {
	text-decoration: none;
    color: rgb(158, 255, 191);
    font-weight: bold;
}

a:active {
	text-decoration: none;
    color: rgb(136, 224, 166);
    font-weight: bold;
}
.titleBlock{
	display: inline-block;
    position: static;
    font-family: Georgia;
	color: rgb(229,229,229);
	text-align: center;
    font-size: 800%;
    width: 110%;
    margin: -10px -5% 0px -5%;
	background-color: rgb(5, 5, 5)
}
.stickyBlock{
	display: inline-block;
    position: sticky;
    top: 0;
    width: 110%;
    height: 70px;
    line-height: 70px;
    margin: 0px -5% 0px -1%;
    text-indent: 20%;
    font-family: Georgia;
	color: rgb(229,229,229);
    font-size: 200%;
	background-color: rgb(20, 20, 20)
}
.mainBlock {
	position: static;
    display: inline-block;
    width: 700px;
    margin: 20px 1% 40px 20%;
    background-color: rgb(70,70,70);
}
.linkBlock {
    display: inline-block;
    position: sticky;
    vertical-align: top;
    top: 90px;
    background-color: rgb(70,70,70);
    width: 200px;
    margin: 20px 0% 10px 10px
}